.um{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}

.dois{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
}

.tres{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    font-style: italic;
    font-weight: bold;
}

.p1{
    font-family:Courier New;
    font-size: 15px;
}

.p2{
    font-family: Monaco;
    font-size:20px;

}

.p3{
    font-family: Verdana;
    font-size: 25px;

}